


.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: black solid 2px;
}



.introduction-container{
    text-align: left;
    margin-left: 10px;
}

.about-me1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 20px;
    width: 70%;
}

.Home-Page{
    margin-top: 100px;
    
}

.profile-container{
    margin-right: 10px;
}

@media (min-width: 993px){
    .Home-Page{
    display: flex;
     flex-direction: row;
        gap: 100px;
        justify-content: center;
         
    }
    
    
    
    
    
    .about-me:first-child {
        margin-top: 0;
    }
    
    .about-me:last-child {
        margin-bottom: 0;
    }
    
    
 } 


 @media (min-width: 320px) and (max-width: 576px) {
 
 

}


 @media (min-width: 577px) and (max-width: 768px){

  
 }

 @media (min-width: 769px) and (max-width: 992px) {
  
 

}




