.home-container{

    margin-top: 100px;
     
}

.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media (min-width: 993px){


 } 


 @media (min-width: 320px) and (max-width: 576px) {
 
 

}


 @media (min-width: 577px) and (max-width: 768px){

  
 }

 @media (min-width: 769px) and (max-width: 992px) {
  
 

}




