
@media (min-width: 993px){

    .Home-Page{
     background-color: linear;
    background: linear-gradient(to right, rgb(228, 230, 230), white);
    height: 145vh;
    border: solid 1px azure;
    display: grid;
    grid-template-columns: 100px 150%;
    grid-column-gap: 100px;
    }

    .hello{
        font-size: 50px;
        text-align: left;
        margin-left: 50px;
    }

    .title{
        text-align: left;
        margin-left: 50px;
    }
    .introduction {
      font-family: Arial, sans-serif;
      font-size: 30px;
      color: #333;
      line-height: 1.5;
      text-align: justify;
      padding: 20px;
      margin: 30px;
      max-width: 800px;
      word-wrap: break-word;
    }
    
      .contact-message{
        text-align: left;
        margin-left: 50px;
        font-size: 18px;
      }

      .social-media-icons{
        position: relative;
        top: 80px;
        border: black 1px solid;
        left: 10px;
        height: 165px;
        border-radius: 5px;
        background-color: white;
      }

      .container {
        text-align: left;

      }
      
      .contact-form {
        width: 400px;
        padding: 20px;
        position: relative;
        left: 20px;
      }
      
      .contact-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
      
      .contact-input,
      .contact-label,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
      }
      
      .contact-button {
        background-color: #0928d8;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        width: 120px;
        height: 50px;
      }
      
     

 } 