
.project_container{
    margin: 0 auto 0 auto; /* top margin + auto left/right */
    text-align: left;
    width: 50%; /* or any fixed width you prefer */
}

.project_description{
    line-height: 30px;
}

.projects{
    margin-top: 20px;
}
.project_images{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.github_links{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70px 40px;
    grid-column-gap: 100px;
}

.button-link {
    font-size: 15px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(230, 229, 229);
    transition: background-color .6s ease-in-out; 
}

.button-link:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.hidden-content {
    opacity: 0; /* Make the content invisible */
    transform: translateY(
      20px
    ); /* Move it down slightly for a smoother transition */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add a transition for a fade-in effect */
  }
  
  .hidden-content.active {
    opacity: 1; /* Make the content visible */
    transform: translateY(0); /* Move it to its original position */
  }

  .project-page {
    scroll-margin-top: 100px; /* Adjust this value to match the height of your nav bar */
}


@media(min-width: 993px){
  
  

}



