.project_images {
  width: 100%;
  max-width: 300px; /* Adjust this value as needed */
  height: auto;
}

.project-img {
  text-align: left;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-container1 {
  display: flex;
  align-items: center;
  gap: 20px; /* Adds spacing between image and text */
}

.project-container1 div {
  flex: 1; /* Ensures equal width for both elements */
}

.project_description {
  flex: 1; /* Makes sure the description takes up the remaining space */
  text-align: left;
  line-height: 2;
  width: 40%;
}


.button-link{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  color: white;
}


.project_link_container{
  display: grid;
  grid-template-columns: 110px 50px;
}

.button-link:hover{
  cursor: pointer;
}

.project_section{
  display: grid;
  grid-row-gap: 10px;
}

@media(min-width: 993px){
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .project-content {
    /* background-color: rgb(37, 36, 36); */
    border: black solid 2px;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Updated this line */
  }
  
  .link_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    align-items: center;
    
  }
  
  /* .project_sum {
    text-align: left;
    margin-left: 10px;
    display: grid;
    grid-column-gap: 5px;
  } */
  
  

}



