.nav-section {
  height: 80px;
  background-color: linear;
  background: linear-gradient(to right, rgb(228, 230, 230), white);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}
@media (min-width: 993px){
  .nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
    padding: 0 20px; 
  }
  
  .sections {
    display: flex;
    gap: 40px;
  }

  a{
    color: black;
    text-decoration: none;
  }

  .my-name{
    font-size: 25px;
    font-weight: bold;
  }
    
    
 } 






 @media (min-width: 320px) and (max-width: 576px) {
 
  
  .nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
    padding: 0 20px; 
  }
  
  .sections {
    display: flex;
    gap: 30px;
    margin-right: 10px;
  }

  a{
    color: black;
    text-decoration: none;
  }

  .my-name{
    font-size: 25px;
    font-weight: bold;
  }
    
}

  


 @media (min-width: 577px) and (max-width: 768px){

  .nav-section {
    height: 80px;
    background-color: linear;
    background: linear-gradient(to right, rgb(228, 230, 230), white);
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
    padding: 0 20px; 
  }
  
  .sections {
    display: flex;
    gap: 40px;
  }

  a{
    color: black;
    text-decoration: none;
  }

  .my-name{
    font-size: 25px;
    font-weight: bold;
  }



 }
 @media (min-width: 769px) and (max-width: 992px){

  .nav-section {
    height: 80px;
    background-color: linear;
    background: linear-gradient(to right, rgb(228, 230, 230), white);
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
    padding: 0 20px; 
  }
  
  .sections {
    display: flex;
    gap: 40px;
  }

  a{
    color: black;
    text-decoration: none;
  }

  .my-name{
    font-size: 25px;
    font-weight: bold;
  }
    
  
 }
