@media (min-width: 993px){

    .nav-section{
        
        display: grid;
        grid-template-columns: 10% 100%;
        grid-column-gap: 62%;
        height: 45px;
        margin-top: 20px;
    }

    .sections{
        display: grid;
        grid-template-columns: 18% 8%
    }


    a{
        color: black;
    }

    .my-name{
        font-size: 24px;
        margin-left: 10px;
    }
}