#skills{
  margin: 0 auto 0 auto; /* top margin + auto left/right */
  text-align: left;
  width: 50%; /* or any fixed width you prefer */
}


.skills-container{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}


.skills-icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}


#skills{
  scroll-margin-top: 100px;
}
.skill-icon {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(230, 229, 229);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.hidden-content {
  opacity: 0; /* Make the content invisible */
  transform: translateY(
    20px
  ); /* Move it down slightly for a smoother transition */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add a transition for a fade-in effect */
}

.hidden-content.active {
  opacity: 1; /* Make the content visible */
  transform: translateY(0); /* Move it to its original position */
}


@media (min-width: 320px) and (max-width: 576px) {
 .skills-container{
  display: flex;
  flex-direction: column;
 }
 

}