
.skills-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
}

.skill {
  flex-basis: calc(25% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
}

.skills-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}





